@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(AppRoot).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Shared.MainLayout)">
            <p style="margin:20px">Sorry, we couldn’t find that page.</p>
        </LayoutView>
    </NotFound>
</Router>